# Ignore specific exercise folder
bai4/

# Solidity build artifacts
artifacts/
build-info/
cache/

# Remix config/artifacts
remix.config.json
*.dbg.json

# Node / package
node_modules/

# Editor directories
.vscode/
.idea/

# Environment & OS files
.env
.env.local
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/
coverage.json
